---
import { IHeroProps } from "@types";

const { name, about } = Astro.props as IHeroProps;
---

<section>

    

      <p class="dark:text-light mt-[117px]">Hey, I’m</p>
      <div style="display:flex;">
        <div style="width: 10%;align-content: center;">
          <img src="/assets/images/matiasbenamo.jpeg" style="border-radius: 20px;width:90px;border: 1px solid #7fd6ff4a">
        </div>
        <div>
          <h1>{name}</h1>
        </div>
       
  
      </div>
      <p class="dark:text-light text-lg mb-16">
        {about}
      </p>
      <a href="/assets/images/CV MATIAS BENAMO-2025.pdf" style="color:#37c0ffbe">
        Download Curriculum Vitae (PDF)
      </a>
        
      
</section>
